@use 'global';

.mainvisual {
    padding-top: 140px;

    @include global.mq(global.$tab-size) {
        padding-top: 100px;
    }
}

.mainvisual-content {
    position: relative;
    z-index: 0;
}

.mainvisual-image {
    background-image: url(/images/mainvisual.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 63.6%;

    @include global.mq(global.$sp-size) {
        background-image: url(/images/mainvisual-sp.png);
        padding-top: 180%;
    }
}

.mainvisual--overlay {
    position: absolute;
    z-index: 1;
    top: 0;
}

.mainvisual-catch{
    position: absolute;
    top: 11.85%;
    right: 15%;
    z-index: 2;
    background-image: url(/images/mv-catch.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 19%;
    height: 0;
    padding-top: 44%;

    @include global.mq(global.$sp-size) {
        background-image: url(/images/mv-catch-sp.png);
        width: 52.5%;
        padding-top: 123%;
    }
}



