@use 'global';

.works-title {
    margin-bottom: 60px;

    @include global.mq(global.$sp-size) {
        margin-bottom: 40px;
    }
}

.works-image-wrap {
    margin-bottom: 60px;
    display: flex;

    @include global.mq(global.$sp-size) {
        width: 600px;
        max-width: 100%;
        margin: 0 auto 40px auto;
        flex-direction: column;
    }
}

.works-image {
    overflow: hidden;


    & + & {
        margin-left: 100px;
    }

    @include global.mq(global.$sp-size) {

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        & + & {
            margin-left: 0;
        }
    }

    img{
        transition-duration: .3s;

        &:hover {
            transition-duration: .3s;
            transform: scale(1.1);
        }
    }
}